/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html  {
 font-size:1.125em; /*18/16 = 1.125*/
 line-height: 1.222em; /*22/18 = 1.222222*/
 font-family: serif, helvetica, arial, sans-serif;
 background-color: #33FFE3;
}

body {
  padding-top: 1.125em;    /*22/ 16 = 1.125 */
  padding-right: 1.2222em;  /* 22 / 18 = 1.2em */
  padding-left: 1.2222em;  /* 22 / 18 = 1.2em*/
}

nav {
  position:absolute;
  width: 100%;
  top: 0;
  left: 0;

}

nav a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding-bottom:50px;
  padding-top: 1.6111em;
  padding-bottom: 0.6111em;
  text-align: center;

}

nav li {
  float: left;
  width:33.333%;
}

h1,
h2,
h3,
p {
  padding-bottom: 1.222em;
}

h1 {
  text-align: left;
  margin-top: 50px;
  padding-bottom: 0.6111em;
  /*padding-bottom: 0.61111em;  /* 11/ 18 = 1.2em*/
  font-style: italic;
  font-size: 2.222em;
  line-height: 1.032em;
  padding-bottom: 0.516em;
}

h2 {
  text-align:left;
  font-style:oblique;
  font-size: 1.777em;
  line-height: 1.032em;
  padding-bottom: 0.688em;
}

h3 {
  font-family: serif, helvetica, arial, sans-serif;
  font-variant: normal;
  font-weight: bolder;
   text-decoration-style: solid;
}

p {
  text-indent: 20px;
}

ol,ul
{
    padding-bottom: 1.222em; /* 22 / 18 = 0.61~ */
}

ol{
  list-style-type: circle;
}

 li ol
{
  list-style-type: disc;
}

li ol,
li ul {

  padding-top: 0.611em;   /* 11 / 18 = 0.61~ */
  padding-left: 1.222em;  /* 22 / 18 = 1.2~ */
  padding-bottom: 0;
}



@media screen and (min-width:640px) {
  html {
    /*background-color: #33FFE3;
    /*padding-right: 12.75%; /* 51 / 400 = 12.75~% */
    /*padding-left: 12.75%; /* 51/ 400 = 12.75~% */
     font-size: 1.25em;
  }
}

@media screen and (min-width:860px) {
  body {

    background-color: #33FF9C;
    padding-left: 9.302325581%;
    padding-right: 9.30233581%;

  }
}
/* Responsive Media */
img,
video,
audio {
  padding-top: 1.125em;
  display: block;
  max-width: 100%;
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
