/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* responsive media */

img,
video,
audio {
  padding-top: 1.125em;
  display: block;
  max-width: 100%;
}

 /*Inserting font for the page */

html {
  font-size: 1.125em; /*18/16 = 1.125*/
  line-height: 1.22222em; /*22/18 = 1.22222*/
  font-family: serif, helvetica, arial, sans-serif;
  background-color: #e8fefb;
  text-decoration: none;
}

body {
  padding-top: 3.67em;    /*11/ 18 = 1.222em*/
  padding-right: 1.2222em;  /* 22 / 18 = 1.22em */
  padding-left: 1.222em;  /* 22 / 18 = 1.2em*/
  background-color: #EEE0FF;
}

p {
  /*text-indent: 1em; */
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611111*/
  padding-top: 0.6111em; /*11/18 = 0.61111*/

}


/*
nav a {
  text-decoration: none;
  display: block;
  width: 100%;

  padding-top: 0.5em; /*11/18 = 0.611*/
  /*padding-bottom: 0.5em; /*11/18 = 0.611*/
  /*text-align: center;
  background-color: rgb(153,102,153);

}

nav a:hover {
  background-color: #965A9E;
  color: #FBDDFF;
}

nav li {
  float: left;
  width: 33.333%;
}*/

h1,
h2,
h3,


h1 {
  text-align: left;
  padding-bottom: 0.375em;

  font-style: italic;
  font-size: 2.369em;  /* 42.63/18 = 2.369 */
  line-height: 1.032em;  /* 44/42.635 = 1.02 */
  text-decoration: none;
}

h2 {
  text-align: left;
  font-style: oblique;
  font-size: 1.7768888889em; /* 31.984 / 18 = 1.7768888889 */
  line-height: 1.0317658829em; /* 33 / 31.984 = 1.0317658829 */
  padding-bottom:  0.687843922em; /* 22 / 31.984 = 0.687843922 */
  padding-top: 0.6em; /*22/42.635 = 0.516*/
  border-top: 0.065em;
  border
  -bottom: 0.065em;
}

h3 {

  font-family: serif, helvetica, arial, sans-serif;
  font-weight: bolder;
  font-size: 1.333em; /* 23.994 / 18 = 1.333 */
  line-height: 0.9168958906em; /* 22 / 23.994 = 0.9168958906 */
  padding-bottom: 0.9168958906em; /* 22 / 23.994 = 0.9168958906 */

 }


/*p {
  text-indent: 1em;
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */



ol, ul {
  padding-bottom: 1.222em; /* 22 / 18 = 0.61~ */
}

ol {
  list-style-type: circle;
}

li ol,
li ul {

  padding-top: 0.611em;   /* 11 / 18 = 0.61~ */
  padding-left: 1.222em;  /* 22 / 18 = 1.2~ */
  padding-bottom: 0;
}

nav a {
  text-decoration: none;
  display: block;
  width: 100%;

  padding-top: 0.5em; /*11/18 = 0.611*/
  padding-bottom: 0.5em; /*11/18 = 0.611*/
  text-align: center;
  background-color: rgb(153,102,153);

}

nav a:hover {
  background-color: #965A9E;
  color: #FBDDFF;
}

nav li {
  float: left;
  width: 33.333%;
}




@media screen and (min-width: 640px) {
  html {

    font-size: 1.25em;
  }
}

@media screen and (min-width: 860px) {
  body {


    padding-left: 9.302325581%;
    padding-right: 9.30233581%;

  }


#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* Styles for slide show */
#slides {
  position: relative;
   height: 300px;
   padding: 0px;
   margin: 0px;
   list-style-type: none;
}
.slide {
  position: absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height: 100%;
   opacity: 0;
   z-index: 1;

   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

.showing {
  opacity: 1;
    z-index: 2;

  }

  .slide:nth-of-type(1) {
  	background-color: grey;
    background-image: url('https://www.walldevil.com/wallpapers/a54/chicago-illinois-usa.jpg');
  }

  .slide:nth-of-type(2) {
  	background-color: white;
    background-image: url('http://www.hustlermoneyblog.com/wp-content/uploads/2017/05/Chicago-IL.jpg');
  }

  .slide:nth-of-type(3) {
	background-color: red;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/waterfall-free-stock-photo-244915.jpg');
}

.slide:nth-of-type(4) {
    background: purple;
}

.slide:nth-of-type(5) {
    background: grey;
}

/* If  the user does not have JavaScript, here is the fall back*/
.controls {
    display: none;
}

/*addig the controls  for java script*/
.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/





/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
